<main role="main">

    <div class="album py-2 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-3 project-sb">

                    <div>
                        <h2>Links</h2>
                        <div class="my-2">
                            <a href="#" class="btn btn-primary">Live Demo</a>
                        </div>

                        <div class="my-2">
                            <a href="#" class="btn btn-secondary">Github Link</a>
                        </div>
                    </div>

                    <hr>

                    <div>
                        <h2>Tags</h2>
                        <a href="#" class="badge badge-primary">Javascript</a>
                        <a href="#" class="badge badge-danger">HTML</a>
                        <a href="#" class="badge badge-success">CSS</a>
                    </div>

                    <hr>

                    <div>
                        <h2>Related Projects</h2>
                        <div class="my-2">
                            <a href="#">Image Gallery</a>
                        </div>

                        <div class="my-2">
                            <a href="#">Image Changer</a>
                        </div>
                    </div>


                </div>


                <div class="col-md-9">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>

                            <li class="breadcrumb-item active" aria-current="page">Contact</li>
                        </ol>
                    </nav>

                    <h1>Contact Us</h1>
                    <p id="resp"></p>
                    <form id="contactForm">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name"
                                 placeholder="Enter name" name="name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email"
                                aria-describedby="emailHelp" name="email" placeholder="Enter email">
                        </div>


                        <div class="form-group">
                            <label for="mobile">Mobile</label>
                            <input type="number" class="form-control" id="mobile"
                                placeholder="Mobile" name="mobile">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="description" name="description" id="desc" rows="3" >Description</textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>


                </div>
            </div>
        </div>
    </div>

</main>
<script src="/js/app.js"></script>