<main role="main">

    <div class="album py-2 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-3 project-sb">

                    <div>
                        <h2>Links</h2>
                        <div class="my-2">
                            <a href="#" class="btn btn-primary">Live Demo</a>
                        </div>

                        <div class="my-2">
                            <a href="#" class="btn btn-secondary">Github Link</a>
                        </div>
                    </div>

                    <hr>

                    <div>
                        <h2>Tags</h2>
                        <a href="#" class="badge badge-primary">Javascript</a>
                        <a href="#" class="badge badge-danger">HTML</a>
                        <a href="#" class="badge badge-success">CSS</a>
                    </div>

                    <hr>

                    <div>
                        <h2>Related Projects</h2>
                        <div class="my-2">
                            <a href="#">Image Gallery</a>
                        </div>

                        <div class="my-2">
                            <a href="#">Image Changer</a>
                        </div>
                    </div>


                </div>


                <div class="col-md-9">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="/projects">Projects</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Number Guessing Game</li>
                        </ol>
                    </nav>

                    <h1>Number Guesing Game</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, voluptatum nostrum? Ratione assumenda deserunt totam aut fugiat odit a corporis qui est quos. Voluptatem illo quasi repellendus temporibus corporis minima.</p>


                </div>
            </div>
        </div>
    </div>

</main>