* {
    /* font-family: 'Hepta Slab', serif; */
    font-family: 'Areil'
}

h1 {
    font-size: 20px;
    font-weight: bolder;
}

.para {
    font-size: 18px;
    font-style: normal;

    font-variant: normal;

    line-height: 30px;

    word-spacing: 10px;

    letter-spacing: 4px;
    text-indent: 30px;

    text-decoration: none;/*underline line-through*/
}

.mypara {
    text-align: justify;/*center left right*/
}

h3 {
    /* border: 1px dashed black; solid dotted dashed */

    border-bottom: 3px solid black;
    border-top: 3px solid red;
    border-left: 3px solid blue;
    border-right: 3px solid green;
}
