* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*

    static (default)
    fixed
    absolute 
    relative
    inherit

*/




h1 {
    background-color: grey;
    text-align: center;
    padding: 10px;
    margin-bottom: 15px;
}


.boxes {
    width: 100%;
    text-align: center;
    background-color: beige;
    padding: 10px;
    /* position: absolute; */
   
}

.box {
    width: 50%;
    padding:30px;
    margin: 0 auto;
}

.box1 {
    background-color: aquamarine;
}

.box2 {
    background-color: red;
    position: relative;
    top:-30px;
    left: 30px;
}

.box3 {
    background-color: blue;
    position: relative;
    top:-50px;
    left: 40px;
}

.box4 {
    background-color: tomato;
    position: relative;
    top:-70px;
    left: 60px;
}

.dummy {
    height: 800px;
}